* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
u,
i {
    text-decoration: none;
    color: currentColor;
}


.color-sale {
    background-color: #E97171;
}

.color-new {
    background-color: #2EC1AC;
}

.center-header,
.right-header {
    font-weight: 600;
}

.left-header a {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 16 / 9;
}

.banner-detail {
    position: absolute;
    background-color: #fff3e3;
    bottom: 100px;
    right: 100px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    width: 900px;
    max-width: 100%;
}

.banner-detail p:first-child {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.banner-detail p {
    font-weight: 600;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

.banner-detail h1 {
    color: #b88e2f;
    font-weight: 800;
}

.banner-detail br {
    height: 0px;
    display: block;
}

.banner-detail button {
    background-color: #b88e2f;
    border: none;
    outline: none;
    color: #fff;
    padding: 20px 50px;
    margin-top: 20px;
}

.banner-detail button:hover {
    opacity: 0.8;
    transition: all linear 0.3s;
}


.slider__text {
    margin: 3px auto;
}

.slider__text h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: -50px;
}

.slider__text > p {
    font-size: 20px;
    color: #666666;
}

.slider__item > p {
    font-size: 24px;
    font-weight: 600;
}


/* products */
.products-header {
    font-size: 40px;
    font-weight: 700;
}

.product-img {
    width: 100%;
}

.product-item {
    position: relative;
    /* width: 285px; */
}

.hover-product-item {
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 24px);
    z-index: -1;
}

.product-item:hover .hover-product-item {
    z-index: 2;
}

.hover-product-item > button {
    margin-top: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 4px 20px;
    border: none;
    color: #B88E2F;
}

.hover-product-item > button:hover {
    background-color: rgba(255,255,255,0.7);
    transition: all linear 0.3s;
}

.interacts .interact:hover a {
    color: rgba(255,255,255,0.6);
}

.per__sale {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
}

.product__content {
    background-color: #F4F5F7;
}

.product__content h4 {
    font-weight: 600;
    font-size: 24px;
}

.product__content > p {
    font-size: 16px;
    font-weight: 500;
    color: #898989;
}

.price__sale {
    font-size: 20px;
    font-weight: 600;
}

.price {
    font-weight: 400;
    font-size: 16px;
    color: #B0B0B0;
}

.products .btn-show {
    padding: 10px 65px;
    border:1px #B88E2F solid;
    color: #B88E2F;
    margin-left: 50%;
    transform: translateX(-50%);
}

.products .btn-show:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all linear 0.3s;
}
.rooms {
    background-color: #FCF8F3;
}

#container-e {
    margin-right: 0 !important;
    background-color: #FCF8F3;
}

.room-content {
    padding-top: 50%;
    transform: translateY(-50%);
}

.room-content > h2 {
    font-size: 40px;
    font-weight: 500;
}

.room-content > button {
    color: #fff;
    background-color: #B88E2F;
    padding: 10px 25px;
    border: none;
}

.room-content > button:hover {
    opacity: 0.75;
}

.carousel {
    width: 35%;
    right: 100px;
    top: 0;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.carousel-caption {
    height: 100px;
    width: 120px;
    background-color: #fff;
    left: 20px;
}

.item-next {
    color: #fff;
    background-color: #B88E2F;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    bottom: 0px;
}

.item-next {
    line-height: 30px;
}

.item-next:hover {
    opacity: 0.7;
}

/* picture */
.pictures-list {
    overflow: hidden;   
}

.picture-text {
    text-align: center;
}

.pics-two {
    margin:  20px;
}

/* footer */
.footer {
    border-top: 1px rgba(0, 0, 0, 0.5) solid;
}

.footer-form {
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
}

.footer h3 {
    font-weight: 700;
    font-size: 24;
}

.address {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
}

.footer-heading {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
}

.footer-form ul li {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
}

.footer-form ul li:hover a {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.footer-form input {
    border: none;
    border-bottom: 1px #000 solid;
}


.footer-form button {
    background-color: #fff;
    border: none; 
    border-bottom: 1px #000 solid;
}

.footer-form button:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* .footer-form {
    display: block;
    text-align: center;

} */
